body{
    background-color: rgb(129, 125, 125) !important;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    
    text-align: center !important;
    gap: 3rem  !important ;
}
span{
    font-weight: bold;
}
h1{
    text-align:center;
    background-color: rgb(27, 105, 223);
    font-weight: bold;
    margin:4px;
}
.card{
    background-color:rgb(228, 187, 7);
    box-shadow: 5px 5px 2px  rgb(12, 12, 11);
    width:20rem;
    height: 29rem;
   
}
.flag{
    justify-content: center;
    place-content: center;
    text-align: center;
    width:10rem;
    height: 10rem;
    margin:auto;
}
.car{
    line-height: normal;
}